<div id="loginDiv">
    <p>Member Login</p>
    <form action="/login" method="POST">
        <input name='userName' class="searchInput" id="userName" type="text" placeholder="username"><br/>
        <input name='password' class="searchInput" id="password" type="text" placeholder="password"><br/>
        <input id="loginButton" type="submit" value="Login" />
    </form>
</div>

<script src="/js/client.js" type="text/javascript"></script>